// COLORS

// special
$primary-color: #faac14;
$primary-darker-color: #c6860f;
$secondary-color: #22ccff;

// font-colors
$dark-grey-font-color: #455a64;
$grey-font-color: #ccc;
$light-grey-font-color: #bfbfbf;
$light-blue-font-color: #64e3ff;
$white-font-color: #fff;
$black-font-color: #000;
$blue-link-color: #0081b4;
$blue-font-color: #00b1e6;
$orange-font-color: #faac14;

// background-colors
$light-grey-background-color: #eceff1;
$light-medium-grey-background-color: #99a5ab;
$medium-grey-background-color: #455a64;
$dark-grey-background-color: #282828;
$white-background-color: #fff;
$black-background-color: #0d0d0d;
$light-blue-background-color: #bff0ff;
$light-orange-background-color: #fde1aa;
$dark-blue-background-color: #006a8a;

$success-background-color: #689f38;
$error-background-color: #d32f2f;
$warning-background-color: #faac14;

// border-colors
$grey-border-color: #ddd;
$light-grey-border-color: #eceff1;
$dark-grey-border-color: #555;
$white-border-color: #fff;

// other colors
$pricing1-background-color: #006a8a;
$pricing2-background-color: #0b8bb1;
$pricing3-background-color: #17abd8;
$pricing4-background-color: #22ccff;
$blue-gradient: linear-gradient(80deg, #006a8a 0%, #22ccff 100%);
$green-line-color: #28a745;
$red-line-color: #dc3545;
$blue-line-color: #006a8a;


// OTHER

$shadow: 0 2px 4px rgba(0,0,0,0.1);
$shadow-top: 0 -2px 4px rgba(0,0,0,0.1);
$shadow-sides: 2px 0px 4px rgba(0,0,0,0.1);
$border-radius: 6px;
$content-width: 1170px;
$header-height: 80px;